* { margin: 0, padding: 0, box-sizing: border-box; }

body {
  font: 13px Helvetica, Arial;
  background-color: azure;
}
form#msg {
  left: 0;
  background: aqua;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-flex;
}

form#msg input {
  padding: 8px 10px;
  width: 70%;
  margin: 5px;
  font-size: 20px;
}
form#msg button {
  padding: 10px 20px;
  font-size: 15px;
  border: 1px aliceblue solid;
  margin-left: 10px;
  background-color: paleturquoise;
}

form#msg button:hover {
  transform: scale(1.15);
}

#messages {
  list-style: none;
  margin: 0 auto;
  /*! padding: 0; */
  width: 680px;
  margin-bottom: 50px;
  position: fixed;
  left: 330px;
  padding: 20px 30px;
  height: 1000px;
  background-color: #cccce5;
  top:  0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages li:nth-child(even) {
  background-color: #ddd;
}

aside {
  padding: 0;
  margin: 0;
  /*! margin-left: 20px; */
  background-color: #b2b2d8;
  padding: 30px;
  top: 0;
  position: fixed;
  left: 0;
  /*! vertical-align: top; */
  height: 1000px;
}

.container {
  display: flex;
}

#name_change input {
  padding: 9px;
  font-size: 13px;
  width: 200px;
}

#name_change button {
  padding: 11px;
  border: medium none;
  background-color: aquamarine;
  font-size: 12px;
}

#rooms {
  position: fixed;
  left: 1100px;
  padding: 11px;
}

/*.banner {
  top: 0;
  left: 0;
  padding: 0;
  height: 150px;
  background: url('http://3.bp.blogspot.com/-1Ve_DSl5ACI/U9k99iLaNbI/AAAAAAAABAg/Ij38CT9lAuQ/s1600/emoji3-550x240.png')
}*/

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
